<%- include("header") %>
    <h2>About Section</h2>
    <p>fdksajfkjfajifjoia af fafhd qf afhadf fadsfhafdahfdl dknfna f dofa fo ajaod fid foadf fda ffaf agaggfad fd fa</p>
    <%- include("footer") %>